@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;

      --chart-1:#3BD64A;
      --chart-2:#FF9800;
      --chart-3:#000000
   }
}

@layer base {
   * {
      @apply border-border;
   }
   body {
      @apply bg-background text-foreground;
   }

   h1 {
      @apply text-[24px] md:text-[40px] font-bold leading-tight;
   }

   h2 {
      @apply text-base sm:text-[20px] md:text-[36px] font-bold leading-tight;
   }

   h3 {
      @apply text-xl font-semibold leading-snug;
   }

   h4 {
      @apply text-lg font-semibold leading-snug;
   }

   h5 {
      @apply text-base font-bold leading-normal;
   }

   h6 {
      @apply text-sm font-medium leading-normal;
   }
   p {
      @apply text-[16px] md:text-[20px];
   }
}

@layer utilities {
   .no-scrollbar::-webkit-scrollbar {
      display: none;
   }

   .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
   }
}

/* ======API DOCUMENTATION====== */

.docnav {
   display: flex;
   align-items: center;
   gap: 2rem;
}

.docform {
   display: flex;
   gap: 4;
   align-items: center;
}

.flex-box {
   @apply flex gap-4 flex-col lg:flex-row items-start justify-start;
}

.started {
   @apply md:h-[310px] lg:h-[300px] p-4 md:p-6 rounded-[12px] w-full  lg:w-[50%] 2xl:h-[280px];
}

button.flex.w-full.flex-row.items-center.gap-2.rounded-md.px-2.text-muted-foreground.transition-colors.duration-100 {
   font-weight: bold;
   font-size: 16px;
   color: black;
   margin-top: 10px;
}
.shad-gray-btn {
   @apply border border-dark-500 cursor-pointer bg-dark-400 text-white !important;
 }

.table-actions {
   @apply flex w-full items-center justify-between space-x-2 p-4;
 }
 
div.ms-2.flex.flex-col.border-s.py-2.ps-2 {
   border-left: none;
}

.shad-input-label {
   @apply text-14-medium text-dark-700 !important;
 }

 .shad-input {
   @apply bg-dark-400 placeholder:text-dark-600 border-dark-500 h-11 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
 }

 .shad-input-icon {
   @apply bg-dark-400 placeholder:text-dark-600 border-dark-500 h-11 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
 }

 .shad-textArea {
   @apply bg-dark-400 placeholder:text-dark-600 border-dark-500 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
 }

 .shad-error {
   @apply text-red-400 !important;
 }
 .shad-otp {
   @apply w-full flex justify-between !important;
 }

 .shad-otp-slot {
   @apply text-36-bold justify-center flex border border-dark-500 rounded-lg size-16 gap-4 !important;
 }

 .shad-alert-dialog {
   @apply space-y-5 bg-dark-400 border-dark-500 outline-none !important;
 }
 .text-14-medium {
   @apply text-[14px] leading-[18px] font-medium;
 }
 .text-36-bold {
   @apply text-[36px] leading-[40px] font-bold;
 }

 .text-24-bold {
   @apply text-[24px] leading-[28px] font-bold;
 }

 .text-32-bold {
   @apply text-[32px] leading-[36px] font-bold;
 }

 .text-18-bold {
   @apply text-[18px] leading-[24px] font-bold;
 }

 .text-16-semibold {
   @apply text-[16px] leading-[20px] font-semibold;
 }

 .text-16-regular {
   @apply text-[16px] leading-[20px] font-normal;
 }


 .text-14-regular {
   @apply text-[14px] leading-[18px] font-normal;
 }

 .text-12-regular {
   @apply text-[12px] leading-[16px] font-normal;
 }

 .text-12-semibold {
   @apply text-[12px] leading-[16px] font-semibold;
 }


 .shad-sheet-content button {
   @apply top-2 focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
 }

 /* =====  REACT PHONE NUMBER INPUT OVERRIDES */
 .input-phone {
   @apply mt-2 h-11 rounded-md px-3 text-sm border bg-white placeholder-gray-600 border-gray-700 !important;
 }
 
 .PhoneInputInput {
   outline: none;
   margin-left: 4px;
   font-size: 14px;
   font-weight: 500;
 }
 
 .PhoneInputInput::placeholder {
   color: #1a1d21;
 }
 

 /* =====  REACT DATE PICKER OVERRIDES */
 .date-picker {
   @apply overflow-hidden border-transparent w-full placeholder:text-dark-600  h-11 text-14-medium rounded-md px-3 outline-none !important;
 }

div.ms-2.flex.flex-col.border-s.py-2.ps-2 > a {
   color: black;
   font-size: 14px;
}

.grid-system {
   @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4;
}

.grid-card {
   @apply lg:h-[270px];
}

thead {
   @apply bg-[#EEEDF4] p-2;
}
.helpful {
   @apply hidden md:block;
}
.thumb1 {
   @apply fill-main md:fill-[#1E1147];
}
.thumb2 {
   @apply fill-destructive md:fill-[#1E1147];
}
@media screen and (max-width: 768px) {
   .docnav {
      display: none;
   }

}

/* .category-badge {
   @apply flex-center truncate w-fit gap-1 rounded-2xl border-[1.5px] py-[2px] pl-1.5 pr-2;
 } */

.swiper-pagination {
   bottom: 0px !important; /* Adjusts the position of the pagination bullets */
}

.swiper-pagination-bullet {
   background-color: black !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
   background-color: #030a11 !important;
}
